spring:
  application:
    name: fukushi-inventory-system

  datasource:
    url: jdbc:h2:mem:fukushi
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true

  sql:
    init:
      mode: always

  thymeleaf:
    cache: false

server:
  port: 8080
